# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Make
[Makefile]
indent_style = tab
indent_style = tab

# Matches
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# Stylesheets
[*.{css,scss}]
indent_style = space
indent_size = 4

# HTML
[*.{htm,html}]
indent_style = space
indent_size = 4
